* {
font-family: 'Lugrasimo', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
 }

.container {
    max-width: 90rem;
    margin: auto;
}

.container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.right nav  {
    display: flex;
    flex-direction: row;
    width: 21rem;
    padding: 0 25px;
    justify-content: space-around;
    padding-top: 10px;
}

.left  {
    padding: 30px 50px;
    
}

.left img {
    width: 4rem;
    height: 1.25rem;
}

.infoGroup {
    width: 84rem;
    height: 18rem;
    /* background-color: blueviolet; */
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2.19rem;
    
    
}

.headline h1 {
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.searchBar {
    display: flex;
    flex-direction: row;
}

.searchBar i {
    
    height: 3.10rem;
}
.filterBar {
    display: flex;
    flex-direction: row;
    
}

.filter {
    display: flex;
    flex-direction: row;
}



